        ../../.angular-config.json
        ../../.azure/
        ../../.bash_history
        ../../.dbclient/
        ../../.gitconfig
        ../../.ipython/
        ../../.jupyter/
        ../../.keras/
        ../../.matplotlib/
        ../../.ssh/
        ../../.th-client/
        ../../.viminfo
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../Kiran_Kumar_JR_Cover_letter.pdf
        ../Kiran_Kumar_JR_Python_developer.pdf
        ../Kiran_kumar_JR_resume.docx
        ../Kiran_kumar_JR_resume.pdf
        ../Kiran_kumar_JR_updated_resume.docx
        ../MongoDBCompass.lnk
        ../New folder/
        ../Postman.lnk
        ../SFMC_ICS_IRT_RCS_CAMID13858_IRTH_KissLocks_Cross_Channel_RCS_SMS_1_27022025.log
        ../Slack.lnk
        ../Zoom Workplace.lnk
        ../backup.zip
        ../cover letter micro.pdf.docx
        ../cover letter.pdf
        ../desktop.ini
        ../django/
        ../fastapi/
        ../global_summary_details.pantaloons_API_summary.json
        ../new/
        ../resume changes/
        ../../Documents/
        ../../Downloads/
        ../../Dropbox/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{75c2a58f-94f5-11ef-a5ed-00090faa0001}.TM.blf
        ../../NTUSER.DAT{75c2a58f-94f5-11ef-a5ed-00090faa0001}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{75c2a58f-94f5-11ef-a5ed-00090faa0001}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../PUTTY.RND
        ../../Pictures/
        ../../SFMC_ICS_WOTRCS_RCS_20250226_out.csv
        ../../Saved Games/
        ../../Searches/
        ../../Tracing/
        ../../Videos/
        ../../__pycache__/
        ../../git_learn/
        ../../learn_git/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../testing_devTeam_01.csv